.hero {
    margin-top: 10rem;
    margin-bottom: 7rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;

    background: linear-gradient(280deg, #fafafa 52.5%, transparent 47.5%);

    @media only screen and (max-width: 50em) {
        gap: 0;
        background: none;
    }
}

.herosvg {
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;

    grid-column: 1 / 2;

    @media only screen and (max-width: 50em) {
        grid-column: 1 / -1;
        width: #{"min(100%, 50rem)"};
    }
}

.herotext {
    grid-column: 2 / 3;
    padding: 3rem;
    display: grid;
    
    h3 {
        display: inline-block;
        align-self: end;
    }
    
    p {
        font-size: 2rem;
    }

    @media only screen and (max-width: 50em) {
        grid-column: 1 / -1;
    }
}

