$cool-blue: #101d2c;

.footer {
    margin: 8rem 0 0 0;
    padding: 5rem;

    background-color: $cool-blue;
    color: white;

    text-align: center;
}

.svg {
    height: 2rem;
    width: 2rem;
}

.logo {
    width: 20vw;
    margin: 3rem 0;
}