.fancyip {
    font-family: inherit;
    font-size: 2rem;
    color: inherit;

    display: block;

    margin: 1rem 0;

    background-color: white;
    border: none;
    border-radius: 100px;

    width: 90%;
    padding: 0.7rem 2rem;

    transition: all 0.2s;

    &:focus {
        outline: none;
        width: 100%;
        background-color: #eee;
    }
}