@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: 56.25em) {
        font-size: 56.25%;
    }
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;

    color: #222;

    @media only screen and (min-width: 31.26em) {
        overflow: visible !important;
    }
}

h1 {
    margin: 3rem 0;
    text-align: center;
    position: relative;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 0.2ch;
    color: currentColor;
    text-transform: uppercase;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: currentColor;
        height: .5rem;
        width: 25%;
    }
}

h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 5rem;
}

p {
    font-size: 1.6rem;
}

h3 {
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
}

h4 {
    font-size: 2rem;
}